Repository pyyupsk/vite-plugin-sitemap: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Refer for explanation to following link:
# https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    changelog:
      run: |
        if git diff --staged --name-only | grep -q "^packages/vite-plugin-sitemap/"; then
          if ! git diff --staged --name-only | grep -q "^CHANGELOG.md$"; then
            echo "❌ Please update CHANGELOG.md"
            echo "Note: CHANGELOG.md should be updated in the root directory, and only provides a changelog for the plugin."
            echo "    The CHANGELOG.md in packages/vite-plugin-sitemap/ copies the changelog from the root directory during build."
            exit 1
          fi
        fi
    version-check:
      run: |
        if git diff --staged --name-only | grep -q "^packages/vite-plugin-sitemap/src/"; then
          if ! git diff --staged --name-only | grep -q "^packages/vite-plugin-sitemap/package.json$"; then
            echo "❌ Source files changed but version not bumped"
            echo "   Please update the version in packages/vite-plugin-sitemap/package.json"
            exit 1
          fi
        fi
    lint:
      glob: "*.{js,ts,mjs}"
      run: bun run lint
    typecheck:
      run: bun run typecheck
    format:
      glob: "*.{js,ts,mjs,json,md}"
      run: bun prettier --check {staged_files}

pre-push:
  commands:
    test:
      run: bun run test

chore: release v0.2.1
  CHANGELOG.md
  bun.lock
  packages/vite-plugin-sitemap/package.json
  packages/vite-plugin-sitemap/src/plugin.ts
  packages/vite-plugin-sitemap/src/utils/format.ts
Due: lint, format

feat(eslint-config): add library config with eslint-plugin-jsdoc
  CHANGELOG.md
  bun.lock
  lefthook.yml
  packages/eslint-config/base.mjs
  packages/eslint-config/library.mjs
  packages/eslint-config/package.json
  packages/eslint-config/vue.mjs
  packages/vite-plugin-sitemap/eslint.config.mjs
  packages/vite-plugin-sitemap/src/cli/commands/generate.ts
  packages/vite-plugin-sitemap/src/cli/commands/preview.ts
  packages/vite-plugin-sitemap/src/cli/commands/validate.ts
  packages/vite-plugin-sitemap/src/cli/index.ts
  packages/vite-plugin-sitemap/src/cli/utils.ts
  packages/vite-plugin-sitemap/src/core/discovery.ts
  packages/vite-plugin-sitemap/src/core/generator.ts
  packages/vite-plugin-sitemap/src/core/loader.ts
  packages/vite-plugin-sitemap/src/core/robots.ts
  packages/vite-plugin-sitemap/src/core/splitter.ts
  packages/vite-plugin-sitemap/src/index.ts
  packages/vite-plugin-sitemap/src/plugin.ts
  packages/vite-plugin-sitemap/src/types/config.ts
  packages/vite-plugin-sitemap/src/types/extensions.ts
  packages/vite-plugin-sitemap/src/types/index.ts
  packages/vite-plugin-sitemap/src/types/sitemap.ts
  packages/vite-plugin-sitemap/src/utils/format.ts
  packages/vite-plugin-sitemap/src/validation/date.ts
  packages/vite-plugin-sitemap/src/validation/errors.ts
  packages/vite-plugin-sitemap/src/validation/schemas.ts
  packages/vite-plugin-sitemap/src/validation/url.ts
  packages/vite-plugin-sitemap/src/xml/builder.ts
  packages/vite-plugin-sitemap/src/xml/escape.ts
  packages/vite-plugin-sitemap/src/xml/namespaces.ts
Due: lint, format

chore(docs): update vitepress to v2.0.0-alpha.15
  apps/docs/package.json
  bun.lock
  package.json
Due: format

feat: add examples workspace with basic Vue example
  CHANGELOG.md
  apps/docs/package.json
  bun.lock
  examples/basic/.gitignore
  examples/basic/README.md
  examples/basic/index.html
  examples/basic/package.json
  examples/basic/public/vite.svg
  examples/basic/src/App.vue
  examples/basic/src/assets/vue.svg
  examples/basic/src/components/HelloWorld.vue
  examples/basic/src/main.js
  examples/basic/src/sitemap.ts
  examples/basic/src/style.css
  examples/basic/vite.config.js
  package.json
  packages/eslint-config/package.json
  packages/typescript-config/package.json
  packages/vite-plugin-sitemap/eslint.config.mjs
  packages/vite-plugin-sitemap/package.json
  packages/vite-plugin-sitemap/tsconfig.json
Due: lint, format

feat(examples): add react, extensions, multiple-sitemaps, and dynamic-routes examples
  bun.lock
  examples/dynamic-routes/index.html
  examples/dynamic-routes/package.json
  examples/dynamic-routes/src/sitemap.ts
  examples/dynamic-routes/vite.config.ts
  examples/multiple-sitemaps/index.html
  examples/multiple-sitemaps/package.json
  examples/multiple-sitemaps/src/sitemap.ts
  examples/multiple-sitemaps/vite.config.ts
  examples/react/.gitignore
  examples/react/README.md
  examples/react/index.html
  examples/react/package.json
  examples/react/public/vite.svg
  examples/react/src/App.css
  examples/react/src/App.tsx
  examples/react/src/assets/react.svg
  examples/react/src/index.css
  examples/react/src/main.tsx
  examples/react/src/sitemap.ts
  examples/react/tsconfig.app.json
  examples/react/tsconfig.json
  examples/react/tsconfig.node.json
  examples/react/vite.config.ts
  examples/with-extensions/index.html
  examples/with-extensions/package.json
  examples/with-extensions/src/sitemap.ts
  examples/with-extensions/vite.config.ts
Due: lint, format

fix: generate separate files for named sitemap exports
  CHANGELOG.md
  packages/vite-plugin-sitemap/src/plugin.ts
  packages/vite-plugin-sitemap/tests/integration/multiple-sitemaps.test.ts
Due: lint, format

feat(examples): add feature-focused examples
  bun.lock
  examples/custom-transform/index.html
  examples/custom-transform/package.json
  examples/custom-transform/src/sitemap.ts
  examples/custom-transform/vite.config.ts
  examples/exclude-patterns/index.html
  examples/exclude-patterns/package.json
  examples/exclude-patterns/src/sitemap.ts
  examples/exclude-patterns/vite.config.ts
  examples/i18n/index.html
  examples/i18n/package.json
  examples/i18n/src/sitemap.ts
  examples/i18n/vite.config.ts
  examples/large-sitemap/index.html
  examples/large-sitemap/package.json
  examples/large-sitemap/src/sitemap.ts
  examples/large-sitemap/vite.config.ts
  examples/news/index.html
  examples/news/package.json
  examples/news/src/sitemap.ts
  examples/news/vite.config.ts
Due: lint, format

chore: update dependencies to latest versions
  README.md
  apps/docs/package.json
  bun.lock
  examples/basic/package.json
  examples/custom-transform/package.json
  examples/dynamic-routes/package.json
  examples/exclude-patterns/package.json
  examples/i18n/package.json
  examples/large-sitemap/package.json
  examples/multiple-sitemaps/package.json
  examples/news/package.json
  examples/react/package.json
  examples/with-extensions/package.json
  package.json
  packages/vite-plugin-sitemap/package.json
Due: format

chore(vite-plugin-sitemap): release v0.2.2
  CHANGELOG.md
  packages/vite-plugin-sitemap/package.json
Due: format

chore: add GitHub templates and improve docs workflow
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deploy.yml
Due: format

fix(docs): use bunx for vite-sitemap CLI in postbuild script
  apps/docs/package.json
Due: format

feat: add release workflow with standard-version
  .github/workflows/release.yml
  .versionrc.json
  CHANGELOG.md
  bun.lock
  package.json
Due: format

chore: remove manual changelog and version-check hooks
  lefthook.yml
Due: none

fix(docs): use local bin path for vite-sitemap CLI
  apps/docs/package.json
Due: format

fix(docs): use direct path to CLI for CI compatibility
  apps/docs/package.json
Due: format

feat(release): add changelogithub for GitHub release notes
  .github/workflows/release.yml
Due: none

chore(deps): add commitlint and update dependencies
  bun.lock
  commitlint.config.ts
  lefthook.yml
  package.json
Due: lint, format

feat(release): migrate from standard-version to release-it
  .github/workflows/release.yml
  .release-it.json
  .versionrc.json
  bun.lock
  package.json
Due: format

chore(release): regenerate changelog and remove package copy
  .release-it.json
Due: format

feat(release): use changelogithub for GitHub release notes
  .release-it.json
  bun.lock
  package.json
Due: format

refactor(generator): parallelize multiple sitemap generation with better-all
  bun.lock
  packages/vite-plugin-sitemap/package.json
  packages/vite-plugin-sitemap/src/core/generator.ts
Due: lint, format

refactor(cli): extract template literals to improve code readability
  packages/vite-plugin-sitemap/src/cli/commands/generate.ts
  packages/vite-plugin-sitemap/src/cli/commands/preview.ts
  packages/vite-plugin-sitemap/src/cli/commands/validate.ts
  packages/vite-plugin-sitemap/src/core/discovery.ts
  packages/vite-plugin-sitemap/src/plugin.ts
  packages/vite-plugin-sitemap/src/validation/errors.ts
Due: lint, format

refactor: extract helper functions to reduce complexity and improve readability
  packages/vite-plugin-sitemap/src/cli/commands/generate.ts
  packages/vite-plugin-sitemap/src/cli/commands/preview.ts
  packages/vite-plugin-sitemap/src/core/generator.ts
  packages/vite-plugin-sitemap/src/plugin.ts
  packages/vite-plugin-sitemap/src/types/config.ts
  packages/vite-plugin-sitemap/src/xml/builder.ts
Due: lint, format

refactor(cli): use top-level await instead of main function
  packages/vite-plugin-sitemap/src/cli/index.ts
Due: lint, format

refactor(validation): simplify W3C datetime regex to reduce complexity
  packages/vite-plugin-sitemap/src/validation/date.ts
  packages/vite-plugin-sitemap/tests/unit/validation/date.test.ts
Due: lint, format

fix(test): use correct assertion for promise resolution check
  packages/vite-plugin-sitemap/tests/integration/vite-basic.test.ts
Due: lint, format

fix(deps): pin conventional-changelog-conventionalcommits to v8
  bun.lock
  package.json
Due: format

ci(release): split publish and release into separate workflows
  .github/workflows/publish.yml
  .github/workflows/release.yml
  package.json
Due: format

fix(ci): use jq for version bump to avoid npm workspace protocol error
  .github/workflows/publish.yml
Due: none

fix(ci): install conventionalcommits preset for changelog generation
  .github/workflows/publish.yml
Due: none

fix(ci): checkout latest tag for changelogithub release
  .github/workflows/release.yml
Due: none

ci(release): add workflow_dispatch trigger for manual runs
  .github/workflows/release.yml
Due: none

docs(changelog): fix header placement and remove non-feature entries
  CHANGELOG.md
Due: format

fix(ci): preserve changelog header when generating new entries
  .github/workflows/publish.yml
Due: none

chore: remove unused release-it config and dependencies
  .release-it.json
  bun.lock
  package.json
Due: format
