Repository pyyupsk/vite-plugin-sitemap: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint

format:
  run: bun prettier --check {staged_files}

test(vite-plugin-sitemap): add unit tests and test infrastructure
  CHANGELOG.md
  lefthook.yml
  packages/vite-plugin-sitemap/package.json
  packages/vite-plugin-sitemap/tests/fixtures/invalid/invalid-changefreq.ts
  packages/vite-plugin-sitemap/tests/fixtures/invalid/invalid-dates.ts
  packages/vite-plugin-sitemap/tests/fixtures/invalid/invalid-priority.ts
  packages/vite-plugin-sitemap/tests/fixtures/invalid/invalid-video.ts
  packages/vite-plugin-sitemap/tests/fixtures/valid/async-sitemap.ts
  packages/vite-plugin-sitemap/tests/fixtures/valid/empty-sitemap.ts
  packages/vite-plugin-sitemap/tests/fixtures/valid/full-featured-sitemap.ts
  packages/vite-plugin-sitemap/tests/fixtures/valid/large-sitemap.ts
  packages/vite-plugin-sitemap/tests/fixtures/valid/named-exports-sitemap.ts
  packages/vite-plugin-sitemap/tests/helpers/cli.ts
  packages/vite-plugin-sitemap/tests/helpers/index.ts
  packages/vite-plugin-sitemap/tests/helpers/temp-dir.ts
  packages/vite-plugin-sitemap/tests/helpers/vite-project.ts
  packages/vite-plugin-sitemap/tests/unit/core/index.test.ts
  packages/vite-plugin-sitemap/tests/unit/validation/date.test.ts
  packages/vite-plugin-sitemap/tests/unit/validation/errors.test.ts
  packages/vite-plugin-sitemap/tests/unit/validation/schemas.test.ts
  packages/vite-plugin-sitemap/tests/unit/validation/url.test.ts
  packages/vite-plugin-sitemap/tests/unit/xml/builder.test.ts
  packages/vite-plugin-sitemap/tests/unit/xml/escape.test.ts
  packages/vite-plugin-sitemap/tests/unit/xml/namespaces.test.ts
Due: lint, format

fix(vite-plugin-sitemap): resolve build caching and transform issues
  CHANGELOG.md
  packages/vite-plugin-sitemap/src/core/discovery.ts
  packages/vite-plugin-sitemap/src/core/generator.ts
  packages/vite-plugin-sitemap/src/plugin.ts
  packages/vite-plugin-sitemap/src/validation/date.ts
  packages/vite-plugin-sitemap/src/xml/escape.ts
Due: lint, format

test(vite-plugin-sitemap): add comprehensive test suite
  CHANGELOG.md
  packages/vite-plugin-sitemap/tests/edge-cases/boundary-values.test.ts
  packages/vite-plugin-sitemap/tests/edge-cases/concurrent-operations.test.ts
  packages/vite-plugin-sitemap/tests/edge-cases/empty-sitemap.test.ts
  packages/vite-plugin-sitemap/tests/edge-cases/invalid-input.test.ts
  packages/vite-plugin-sitemap/tests/edge-cases/large-sitemap.test.ts
  packages/vite-plugin-sitemap/tests/helpers/cli.ts
  packages/vite-plugin-sitemap/tests/helpers/index.ts
  packages/vite-plugin-sitemap/tests/helpers/vite-project.ts
  packages/vite-plugin-sitemap/tests/integration/plugin.test.ts
  packages/vite-plugin-sitemap/tests/unit/cli/generate.test.ts
  packages/vite-plugin-sitemap/tests/unit/cli/preview.test.ts
  packages/vite-plugin-sitemap/tests/unit/cli/validate.test.ts
  packages/vite-plugin-sitemap/tests/unit/core/discovery.test.ts
  packages/vite-plugin-sitemap/tests/unit/core/generator.test.ts
  packages/vite-plugin-sitemap/tests/unit/core/loader.test.ts
  packages/vite-plugin-sitemap/tests/unit/core/robots.test.ts
  packages/vite-plugin-sitemap/tests/unit/core/splitter.test.ts
  packages/vite-plugin-sitemap/tests/unit/validation/date.test.ts
Due: lint, format

fix(vite-plugin-sitemap): enable Vite integration tests and fix plugin issues
  CHANGELOG.md
  packages/vite-plugin-sitemap/src/plugin.ts
  packages/vite-plugin-sitemap/src/types/config.ts
  packages/vite-plugin-sitemap/tests/edge-cases/special-characters.test.ts
  packages/vite-plugin-sitemap/tests/helpers/vite-project.ts
  packages/vite-plugin-sitemap/tests/integration/vite-basic.test.ts
  packages/vite-plugin-sitemap/tests/unit/xml/escape.test.ts
Due: lint, format

chore: add Vue example app and update TypeScript configs
  apps/example/.gitignore
  apps/example/.vscode/extensions.json
  apps/example/README.md
  apps/example/eslint.config.mjs
  apps/example/index.html
  apps/example/package.json
  apps/example/public/vite.svg
  apps/example/src/App.vue
  apps/example/src/assets/vue.svg
  apps/example/src/components/HelloWorld.vue
  apps/example/src/main.ts
  apps/example/src/style.css
  apps/example/tsconfig.app.json
  apps/example/tsconfig.json
  apps/example/tsconfig.node.json
  apps/example/vite.config.ts
  bun.lock
  packages/typescript-config/nextjs.json
  packages/typescript-config/package.json
  packages/typescript-config/react-library.json
  packages/typescript-config/vue.json
  packages/vite-plugin-sitemap/CHANGELOG.md
  packages/vite-plugin-sitemap/LICENSE
  packages/vite-plugin-sitemap/README.md
  packages/vite-plugin-sitemap/package.json
  packages/vite-plugin-sitemap/tsconfig.json
Due: lint, format

fix(vite-plugin-sitemap): support milliseconds in W3C datetime validation
  CHANGELOG.md
  apps/example/package.json
  apps/example/src/sitemap.ts
  apps/example/vite.config.ts
  bun.lock
  lefthook.yml
  packages/vite-plugin-sitemap/CHANGELOG.md
  packages/vite-plugin-sitemap/package.json
  packages/vite-plugin-sitemap/src/validation/date.ts
  turbo.json
Due: lint, format

feat(vite-plugin-sitemap): CLI reads plugin options from vite.config
  CHANGELOG.md
  packages/vite-plugin-sitemap/CHANGELOG.md
  packages/vite-plugin-sitemap/src/cli/commands/generate.ts
  packages/vite-plugin-sitemap/src/cli/commands/preview.ts
  packages/vite-plugin-sitemap/src/cli/commands/validate.ts
  packages/vite-plugin-sitemap/src/cli/utils.ts
  packages/vite-plugin-sitemap/src/plugin.ts
Due: lint, format

test(vite-plugin-sitemap): add tests for CLI reading vite.config options
  CHANGELOG.md
  packages/vite-plugin-sitemap/CHANGELOG.md
  packages/vite-plugin-sitemap/tests/unit/cli/generate.test.ts
  packages/vite-plugin-sitemap/tests/unit/cli/preview.test.ts
  packages/vite-plugin-sitemap/tests/unit/cli/validate.test.ts
Due: lint, format

style(vite-plugin-sitemap): refactor CLI to use picocolors for Vite-style output
  CHANGELOG.md
  bun.lock
  packages/vite-plugin-sitemap/CHANGELOG.md
  packages/vite-plugin-sitemap/package.json
  packages/vite-plugin-sitemap/src/cli/commands/generate.ts
  packages/vite-plugin-sitemap/src/cli/commands/preview.ts
  packages/vite-plugin-sitemap/src/cli/commands/validate.ts
  packages/vite-plugin-sitemap/src/cli/index.ts
  packages/vite-plugin-sitemap/src/cli/utils.ts
Due: lint, format

style(vite-plugin-sitemap): refactor plugin logging to use picocolors
  CHANGELOG.md
  packages/vite-plugin-sitemap/CHANGELOG.md
  packages/vite-plugin-sitemap/src/plugin.ts
Due: lint, format

chore: add VitePress documentation site scaffold
  apps/docs/.gitignore
  apps/docs/docs/.vitepress/config.mts
  apps/docs/docs/api-examples.md
  apps/docs/docs/index.md
  apps/docs/docs/markdown-examples.md
  apps/docs/package.json
  apps/example/package.json
  bun.lock
  package.json
Due: format

docs: add comprehensive VitePress documentation for plugin
  CHANGELOG.md
  apps/docs/docs/.vitepress/config.mts
  apps/docs/docs/api-examples.md
  apps/docs/docs/api/index.md
  apps/docs/docs/api/types.md
  apps/docs/docs/config/index.md
  apps/docs/docs/config/route.md
  apps/docs/docs/guide/advanced/custom-serialization.md
  apps/docs/docs/guide/advanced/dynamic-routes.md
  apps/docs/docs/guide/advanced/large-sitemaps.md
  apps/docs/docs/guide/cli.md
  apps/docs/docs/guide/configuration.md
  apps/docs/docs/guide/extensions/i18n.md
  apps/docs/docs/guide/extensions/images.md
  apps/docs/docs/guide/extensions/news.md
  apps/docs/docs/guide/extensions/videos.md
  apps/docs/docs/guide/getting-started.md
  apps/docs/docs/guide/routes.md
  apps/docs/docs/guide/why.md
  apps/docs/docs/index.md
  apps/docs/docs/markdown-examples.md
  apps/docs/package.json
  bun.lock
  packages/vite-plugin-sitemap/.gitignore
  packages/vite-plugin-sitemap/package.json
  packages/vite-plugin-sitemap/tsdown.config.ts
  turbo.json
Due: lint, format

ci: add GitHub Pages deployment workflow for VitePress docs
  .github/workflows/deploy.yml
Due: none

chore: prepare v0.1.0 release
  CHANGELOG.md
  README.md
  apps/docs/package.json
  apps/example/package.json
  packages/eslint-config/package.json
  packages/typescript-config/package.json
  packages/vite-plugin-sitemap/CHANGELOG.md
  packages/vite-plugin-sitemap/LICENSE
  packages/vite-plugin-sitemap/README.md
  packages/vite-plugin-sitemap/package.json
Due: format

fix(docs): add base path for GitHub Pages deployment
  apps/docs/docs/.vitepress/config.mts
Due: none

fix: add missing eslint dependencies to packages
  CHANGELOG.md
  apps/example/package.json
  bun.lock
  packages/eslint-config/package.json
  packages/vite-plugin-sitemap/package.json
Due: format

refactor: remove example app and related files
  apps/example/.gitignore
  apps/example/.vscode/extensions.json
  apps/example/README.md
  apps/example/eslint.config.mjs
  apps/example/index.html
  apps/example/package.json
  apps/example/public/vite.svg
  apps/example/src/App.vue
  apps/example/src/assets/vue.svg
  apps/example/src/components/HelloWorld.vue
  apps/example/src/main.ts
  apps/example/src/sitemap.ts
  apps/example/src/style.css
  apps/example/tsconfig.app.json
  apps/example/tsconfig.json
  apps/example/tsconfig.node.json
  apps/example/vite.config.ts
  bun.lock
Due: lint, format

docs: add LLM-friendly documentation files
  llms-full.txt
  llms.txt
Due: none

build(docs): copy llms files to docs site on build
  .gitignore
  apps/docs/docs/public/.gitkeep
  apps/docs/package.json
Due: format

fix: resolve TypeScript type conflict when using bun link
  CHANGELOG.md
  lefthook.yml
  packages/vite-plugin-sitemap/package.json
  packages/vite-plugin-sitemap/src/cli/utils.ts
  packages/vite-plugin-sitemap/src/plugin.ts
Due: lint, format

chore: normalize package.json fields via npm pkg fix
  packages/vite-plugin-sitemap/package.json
Due: format

feat: add dev mode support for sitemap.xml and robots.txt
  CHANGELOG.md
  packages/vite-plugin-sitemap/package.json
  packages/vite-plugin-sitemap/src/plugin.ts
Due: lint, format

docs: update documentation for v0.2.0 with dev mode support
  README.md
  apps/docs/docs/.vitepress/config.mts
  apps/docs/docs/guide/configuration.md
  apps/docs/docs/guide/getting-started.md
  apps/docs/docs/guide/why.md
  apps/docs/docs/index.md
  llms-full.txt
  llms.txt
Due: format

build(docs): generate sitemap.xml and robots.txt using CLI
  apps/docs/docs/.vitepress/config.mts
  apps/docs/docs/guide/getting-started.md
  apps/docs/docs/index.md
  apps/docs/package.json
  apps/docs/sitemap.ts
  bun.lock
Due: lint, format

fix(docs): correct llms.txt links with base path
  apps/docs/docs/.vitepress/config.mts
  apps/docs/docs/index.md
Due: format

deploy: fix llms.txt links
  404.html
  api/index.html
  api/types.html
  assets/app.Ca3uJtuB.js
  assets/app.DkQrO0bD.js
  assets/chunks/@localSearchIndexroot.qwW2SgQr.js
  assets/chunks/@localSearchIndexroot.ti0SopHP.js
  assets/chunks/VPLocalSearchBox.DbRyfkdo.js
  assets/chunks/theme.D4yOaumx.js
  assets/chunks/theme.tyPh9FEh.js
  assets/guide_getting-started.md.BVnsNT4P.js
  assets/guide_getting-started.md.BVnsNT4P.lean.js
  assets/index.md.DmThnoxn.js
  assets/index.md.DmThnoxn.lean.js
  assets/index.md.PjzLIa82.js
  assets/index.md.PjzLIa82.lean.js
  config/index.html
  config/route.html
  guide/advanced/custom-serialization.html
  guide/advanced/dynamic-routes.html
  guide/advanced/large-sitemaps.html
  guide/cli.html
  guide/configuration.html
  guide/extensions/i18n.html
  guide/extensions/images.html
  guide/extensions/news.html
  guide/extensions/videos.html
  guide/getting-started.html
  guide/routes.html
  guide/why.html
  hashmap.json
  index.html
Due: lint, format

refactor: replace custom glob matching with picomatch
  CHANGELOG.md
  bun.lock
  lefthook.yml
  packages/vite-plugin-sitemap/package.json
  packages/vite-plugin-sitemap/src/validation/url.ts
Due: lint, format

refactor: extract formatBytes to shared utility
  CHANGELOG.md
  packages/vite-plugin-sitemap/src/cli/utils.ts
  packages/vite-plugin-sitemap/src/plugin.ts
  packages/vite-plugin-sitemap/src/utils/format.ts
Due: lint, format

refactor: add explicit guard for empty routes in splitRoutes
  CHANGELOG.md
  packages/vite-plugin-sitemap/src/core/splitter.ts
Due: lint, format

refactor: add SitemapPlugin interface for type safety
  CHANGELOG.md
  packages/vite-plugin-sitemap/src/plugin.ts
Due: lint, format

docs: add comprehensive JSDoc documentation
  CHANGELOG.md
  packages/vite-plugin-sitemap/src/cli/commands/generate.ts
  packages/vite-plugin-sitemap/src/cli/commands/preview.ts
  packages/vite-plugin-sitemap/src/cli/commands/validate.ts
  packages/vite-plugin-sitemap/src/cli/index.ts
  packages/vite-plugin-sitemap/src/cli/utils.ts
  packages/vite-plugin-sitemap/src/core/discovery.ts
  packages/vite-plugin-sitemap/src/core/generator.ts
  packages/vite-plugin-sitemap/src/core/loader.ts
  packages/vite-plugin-sitemap/src/core/robots.ts
  packages/vite-plugin-sitemap/src/core/splitter.ts
  packages/vite-plugin-sitemap/src/plugin.ts
  packages/vite-plugin-sitemap/src/types/config.ts
  packages/vite-plugin-sitemap/src/types/extensions.ts
  packages/vite-plugin-sitemap/src/types/sitemap.ts
  packages/vite-plugin-sitemap/src/utils/format.ts
  packages/vite-plugin-sitemap/src/validation/date.ts
  packages/vite-plugin-sitemap/src/validation/errors.ts
  packages/vite-plugin-sitemap/src/validation/schemas.ts
  packages/vite-plugin-sitemap/src/validation/url.ts
  packages/vite-plugin-sitemap/src/xml/builder.ts
  packages/vite-plugin-sitemap/src/xml/escape.ts
  packages/vite-plugin-sitemap/src/xml/namespaces.ts
Due: lint, format

fix: preserve priority precision in XML output
  CHANGELOG.md
  packages/vite-plugin-sitemap/src/xml/builder.ts
Due: lint, format

fix: use anyWasSplit flag for robots.txt sitemap URL
  CHANGELOG.md
  packages/vite-plugin-sitemap/src/cli/commands/generate.ts
  packages/vite-plugin-sitemap/src/plugin.ts
Due: lint, format

fix: add guard for indexXml before writing split sitemap index
  CHANGELOG.md
  packages/vite-plugin-sitemap/src/cli/commands/generate.ts
  packages/vite-plugin-sitemap/src/plugin.ts
Due: lint, format

perf: cache base XML size in splitByUrlsAndSize
  CHANGELOG.md
  packages/vite-plugin-sitemap/src/core/splitter.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,mjs}
  format: any of: *.{js,ts,mjs,json,md}
